footer {
    height: 125px;
    line-height: 125px;
    background: #F2F2F2;
    margin-top: 50px;
    font-size: 13px;
    color: #919AA3;
    
    a, a:visited, a:hover {
        font-size: 13px;
        color: #919AA3;
    }

    .divisor {
        margin-right: 10px;
        margin-left: 10px;
    }

    ul li { 
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        margin-left: 35px;
    }
}