#profile {
  .dot {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    float: left;
  }

  .green-dot {
    @extend .dot;
    background: lawngreen;
  }

  .yellow-dot {
    @extend .dot;
    background: cornflowerblue;
  }

  .gray-dot {
    @extend .dot;
    background: dimgray;
  }

  .black-dot {
    @extend .dot;
    background: black;
  }

  .user-info {
    .row {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .feedback {
      margin-top: 50px;

      .feedback-item {
        margin-bottom: 25px;
      }
    }
  }
}